<?xml version="1.0" encoding="UTF-8"?>

<modules>
    <module
      id="0" 
      title="Login"
      file="login.html"
      icon="icon.jpg" 
      >
      description
    </module>
    <module
      id="1" 
      title="News"
      file="news.html"
      icon="robin.jpg"
      >
      description
    </module>
    <module
      id="2" 
      title="Grades"
      file="grades.html"
      icon="legendofzelda.jpg" 
      >
      description
    </module>
    <module
      id="3" 
      title="Register"
      file="register.html"
      icon="legendofzelda.jpg" 
      >
      description
    </module>
    <module
      id="4" 
      title="Map"
      file="map.html"
      icon="legendofzelda.jpg" 
      >
      description
    </module>

</modules>
