<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


<modules>
    <module
      id="0" 
      title="Aladdin"
      link="aladdin.html"
      icon="icon.jpg" 
      >
      description
    </module>
    <module
      id="1" 
      title="RobinWilliams"
      file="Williams.html"
      icon="robin.jpg"
      >
      description
    </module>
    <module
      id="2" 
      title="Zelda"
      file="zelda.html"
      icon="legendofzelda.jpg" 
      >
      description
    </module>
</modules>
