/* 
    Document   : liveTiles
    Created on : Feb 27, 2013, 1:50:41 AM
    Author     : Glavin Wiechert
    Description:
        Styling of the Live Tiles.
*/

#liveTilesContainer {
    margin-left: 15px;
}

#liveTiles .liveTile {
    display: inline-block;
    background: rgba(0,0,0,0.7);
    margin: 0px;
    padding: 0px;
}

#liveTiles .liveTile img {
    width: 100%;
    height: 100%;
}

#liveTiles .liveTile.singleWideTile {
    width: 100px;
    margin: 0px;
    padding: 0px;
}

#liveTiles .liveTile.singleTallTile {
    height: 100px;
}

#liveTiles .liveTile.doubleWideTile {
    width: 200px;
    margin: 0px;
    padding: 0px;
}

#liveTiles .liveTile.doubleTallTile {
    height: 200px;
}