/* Put your custom CSS here */

#home
{
/*
  background: url(https://devimages.apple.com.edgekey.net/assets/elements/layout/background_linen.png) repeat;
*/
/*
background: rgba(139,28,28,1);
*/
}

#splash
{
/*
  background: url(https://devimages.apple.com.edgekey.net/assets/elements/layout/background_linen.png) repeat;
*/
/*
background: rgba(139,28,28,1);
*/
}

div.smuToolsPanel
{
  overflow: hidden;
  /* height: 40px; */
  
  /* Disable highlight/selection -- issue when dragging */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}

div.smuToolsPanel:after
{
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

div.smuToolsPanel.open, div.smuToolsPanel.open div.all_app_views
{
  height: 100%;
}

/*
div.smuToolsPanel.open .ui-footer
{
  margin-top: 41px;
}

div.smuToolsPanel.close
{
  height:60px;
}
*/

div.smuToolsPanel .ui-footer
{
  height: 3.0em;
}

div.smuToolsPanel a.smu_tools_button:link
{
  text-decoration: none;
  color: #fff;
}

div.smuToolsPanel a.smu_tools_button span
{
  color: white;
}


div.smuToolsPanel .ui-footer h3
{
  display: inline-block;
}




/* App View */
div.all_app_views
{
  height: 100%;
  overflow-y: scroll;
}

div.app_view
{
  height: 100%;
  overflow-y: scroll;
  /*
  background: url(https://devimages.apple.com.edgekey.net/assets/elements/layout/background_linen.png) repeat;
  */
  /*
  background: url('../Images/escheresque_ste/escheresque_ste.png') repeat;
  */
  background: url('http://www.desktopwallpaper4.me/wallpapers/abstract/1920x1200/1/768-light-gray-gradient-1920x1200-abstract-wallpaper.jpg') no-repeat;
  background-size: 100% 100%;
}

div.smuToolsPanel .app_grid_view .app_grid .app_block
{
  width:128px; 
  height:128px;
  text-align: center;
}

div.smuToolsPanel .app_grid_view .app_grid .app_block a
{
  display: block;
  width:64px; 
  height:64px;
/*
  padding: 0 !important;
  margin: auto !important;
*/
}

div.smuToolsPanel .app_grid_view .app_grid .app_block a span
{
  padding: 0;
}

div.smuToolsPanel .app_grid_view .app_grid .app_block img
{
  width:64px; 
  height:64px;
/*
  width:100%; 
  height:100%;
*/
}

div.smuToolsPanel .app_grid_view .app_grid .app_block a span
{
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #111;
}

div.smuToolsPanel .app_grid_view .app_grid div a:link
{
  color: #fff;
  text-decoration: none;
}

img.view_select_icons
{
  position: -3px;
  width: 32px;
  height: 32px;
}

.ui-controlgroup-controls .ui-radio label span
{
  padding: 0;
  height: 32px;
}

div.smuToolsPanel fieldset#view_select {
    /*
    position: relative;
    top: -2em;
    padding-top: 0.5em;
    margin-top: 5px;
    */
}

div.smuToolsPanel fieldset#view_select * {

}
